<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>¿Que es Alfred?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div text-center>
    <ion-img style="width: 200px; height: 200px;"  src="assets/imgs/alfred.png"></ion-img>
    
    <h6>Esta app esta protegida por leyes de derechos de registro y tratados internacionales.La reproduccion o distribucion sin 
    autorizacion de la app o una parte de esta, podra resultar en severas sanciones penales o civiles y seran penadas al maximo
    posible permitido por la ley</h6>
    <br>
    <h6>"Por favor leer"                         para tener mas informacion</h6>
    <br>
    <h6>si tiene alguna pregunta, por favor contactarnos:
    ayuda@alfredapp.com </h6>
    <br>
    <a href="https://alfredapp.com.mx">www.alfredapp.com.mx</a>
  </div>
  

</ion-content>
